.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
  padding: 12px;
  box-sizing: border-box;

  &--main-nav {
    width: 180px;
    min-height: 45px;
    font-size: 14px;
    line-height: 16px;
    color: $alt-text-color;
    background-color: transparent;
    border: 1px solid #ffffff;
  }

  &--main-block {
    width: 407px;
    font-size: 16px;
    line-height: 19px;
    color: $alt-text-color;
    background-color: $decoration-color;
    min-height: 55px;

    @media (max-width: $tablet-width) {
      width: 379px;
    }

    @media (max-width: $mobile-width) {
      max-width: 767px;
      width: 100%;
    }
  }

  &:hover,
  &:focus {
    transform: scale(1.1);
    transition: transform 0.2s;
  }

  &:active {
    opacity: 0.5;
  }
}
