.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  min-height: 45px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: $alt-text-color;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
  padding: 12px;
  box-sizing: border-box;

  &:hover,
  &:focus {
    color: $base-text-color;
    background-color: $alt-text-color;
    transition: all 0.2s;
  }

  &:active {
    opacity: 0.5;
  }

  &--main-nav {
    border: 1px solid #ffffff;
  }

  &--main-block {
    width: 407px;
    font-size: 16px;
    line-height: 19px;
    color: $alt-text-color;
    background-color: $decoration-color;
    min-height: 55px;

    @media (max-width: $tablet-width) {
      width: 379px;
    }

    @media (max-width: $mobile-width) {
      max-width: 767px;
      width: 100%;
    }
  }

  &--about {
    color: $decoration-color;
    border: 1px solid $decoration-color;

    &:hover,
    &:focus {
      color: $alt-text-color;
      background-color: $base-text-color;
      border: 1px solid $base-text-color;
      transition: all 0.2s;
    }
  }

  &--form {
    width: 100%;
    border: 1px solid $alt-text-color;
  }
}
