.copyright {
  padding-top: 14px;
  padding-bottom: 10px;
  border-top: 1px solid rgba(98, 105, 98, 0.2);

  @media (max-width: $tablet-width) {
    padding-top: 21px;
    padding-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 28px;
    padding-bottom: 7px;
  }
}

.copyright__wrapper {
  max-width: 1412px;
  margin: 0 auto;
  padding-left: 27px;
  padding-right: 27px;

  @media (max-width: $mobile-width) {
    padding: 0;
  }
}

.copyright__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (max-width: $tablet-width) {
    justify-content: space-between;
  }

  @media (max-width: $mobile-width) {
    justify-content: center;
  }
}

.copyright__item {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  opacity: 0.5;
  margin-bottom: 4px;

  &--01 {
    margin-right: 72px;
  }

  &--02 {
    margin-right: 142px;
  }

  &--03 {
    margin-right: auto;
  }

  &--04 {
    margin-left: 30px;
  }

  &--only-desktop {
    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    padding-left: 27px;
    padding-right: 27px;
    margin: 0;
    margin-bottom: 21px;
  }
}
