.form-block {
  padding-top: 90px;
  padding-bottom: 112px;
  background-color: $decoration-color;

  @media (max-width: $tablet-width) {
    padding-top: 80px;
    padding-bottom: 105px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 30px;
    padding-bottom: 42px;
  }
}

.form-block__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 90px;
  padding-right: 90px;

  @media (max-width: $mobile-width) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.form-block__image-container {
  position: relative;
  width: 511px;

  &::before {
    content: "";
    position: absolute;
    top: -152px;
    right: 41px;
    width: 670px;
    height: 640px;
    background: url("../img/triangle.svg") no-repeat;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.form-block__image-container img {
  position: absolute;
  top: 70px;
  right: 27px;
  max-width: none;
  width: 511px;
  height: 288px;
}
