.main-block {
  position: relative;
  min-height: 878px;
  background: url("../img/main-block-bg-v2@1x.jpg") no-repeat #1b2a32;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  box-sizing: border-box;

  @media (min-resolution: 2dppx) {
    background: url("../img/main-block-bg-v2@2x.jpg") no-repeat #1b2a32;
    background-size: cover;
    background-position: center;
  }

  @media (max-width: $tablet-width) {
    min-height: 680px;
  }

  @media (max-width: $mobile-width) {
    min-height: 647px;
  }
}

.main-block__wrapper {
  display: flex;
  width: 100%;
  max-width: 1425px;
  padding-top: 316px;
  margin: 0 auto;
  padding-left: 88px;
  padding-right: 88px;
  z-index: 3;

  @media (max-width: $tablet-width) {
    max-width: 1023px;
    padding-top: 190px;
    box-sizing: border-box;
  }

  @media (max-width: $mobile-width) {
    max-width: 767px;
    padding-top: 285px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.main-block__content {
  max-width: 780px;
  width: 100%;
  margin-bottom: 90px;
  z-index: 6;

  @media (max-width: $tablet-width) {
    margin-bottom: 35px;
  }
}

.main-block h2 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $alt-text-color;
  padding: 0;
  margin: 0;
  margin-bottom: 27px;

  @media (max-width: $tablet-width) {
    font-size: 60px;
    line-height: 70px;
  }

  @media (max-width: $mobile-width) {
    font-size: 40px;
    line-height: 47px;
  }
}

.main-block__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 43px;

  @media (max-width: $tablet-width) {
    margin-bottom: 55px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 41px;
  }
}

.main-block__item {
  position: relative;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 3px;
    width: 66px;
    height: 2px;
    background-color: $alt-text-color;

    @media (max-width: $tablet-width) {
      width: 33px;
    }
  }
}

.main-block__item p {
  font-size: 22px;
  line-height: 34px;
  color: $alt-text-color;
  padding: 0;
  padding-left: 100px;
  margin: 0;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 28px;
    padding-left: 50px;
  }

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 25px;
  }
}

.main-block__button {
  margin-left: 100px;
  margin-bottom: 128px;

  @media (max-width: $tablet-width) {
    margin-left: 50px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 0;
    margin-right: 0;
    font-size: 0;
    margin-bottom: 0;

    &::before {
      content: "Бесплатная консультация";
      font-size: initial;
      letter-spacing: 0.05em;
    }
  }
}

.main-block__image-container {
  position: relative;
  width: 100%;
  max-width: 705px;
  flex-shrink: 0;

  &::after {
    content: "";
    position: absolute;
    width: 670px;
    height: 640px;
    top: -198px;
    left: 64px;
    z-index: 1;
    background: url("../img/triangle.svg") no-repeat;
    background-size: cover;

    @media (max-width: $tablet-width) {
      width: 528px;
      height: 505px;
      top: -229px;
      left: auto;
      right: 142px;
    }

    @media (max-width: $mobile-width) {
      width: 505px;
      height: 483px;
      top: -331px;
      right: -322px;
    }
  }

  @media (max-width: $mobile-width) {
    position: absolute;
  }
}

.main-block__image-container img {
  position: absolute;
  width: 705px;
  height: 515px;
  top: -57px;
  left: 70px;
  z-index: 2;

  @media (max-width: $tablet-width) {
    width: 465px;
    height: 340px;
    top: -76px;
    left: auto;
    right: 138px;
  }

  @media (max-width: $mobile-width) {
    width: 301px;
    height: 220px;
    top: -193px;
    right: 9px;
  }
}

.main-block__scroll-down {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  left: -35px;
  font-size: 14px;
  line-height: 16px;
  color: $alt-text-color;
  opacity: 0.5;
  transform: rotate(270deg);
  transition: opacity 0.1s;

  &:hover,
  &:focus {
    opacity: 1;
    transition: opacity 0.1s;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}
