.main-block {
  min-height: 878px;
  background: url("../img/main-block-bg.png") no-repeat;
  background-size: cover;
  background-color: #1b2a32;
  overflow-x: hidden;
}

.main-block__wrapper {
  display: flex;
  max-width: 1420px;
  padding-top: 316px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  z-index: 3;
}

.main-block__content {
  max-width: 780px;
}

.main-block h2 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $alt-text-color;
  padding: 0;
  margin: 0;
  margin-bottom: 27px;
}

.main-block__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 43px;
}

.main-block__item {
  position: relative;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 3px;
    width: 66px;
    height: 2px;
    background-color: $alt-text-color;
  }
}

.main-block__item p {
  font-size: 22px;
  line-height: 34px;
  color: $alt-text-color;
  padding: 0;
  padding-left: 97px;
  margin: 0;
}

.main-block__button {
  margin-left: 97px;
  margin-bottom: 128px;
}

.main-block__image-container {
  position: relative;
  width: 705px;
  height: 515px;
}

.main-block__image-container img {
  position: absolute;
  width: 705px;
  height: 515px;
  top: -55px;
  left: 190px;
}

.main-block__scroll-down {
  position: relative;
  display: inline-block;
  left: -35px;
  font-size: 14px;
  line-height: 16px;
  color: $alt-text-color;
  opacity: 0.5;
  transform: rotate(270deg);
  transition: opacity 0.1s;

  &:hover,
  &:focus {
    opacity: 1;
    transition: opacity 0.1s;
  }
}
