.social {
  display: flex;
  flex-wrap: wrap;
  max-width: 127px;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (max-width: $tablet-width) {
    justify-content: flex-end;
  }

  @media (max-width: $mobile-width) {
    justify-content: flex-start;
    margin-left: -15px;
  }
}

.social__item {
  margin-right: 15px;

  @media (max-width: $tablet-width) {
    margin-right: 0;
    margin-left: 15px;
  }
}

.social__icon {
  fill: #cdcdcd;
  transition: all 0.2s;
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: #000000;
  transition: fill 0.2s;
}

.social__link:active .social__icon {
  opacity: 0.3;
}
