@font-face {
  font-family: "PT Mono";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/pt-mono-regular.woff2") format("woff2"),
    url("../fonts/pt-mono-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/roboto-condensed-regular.woff2") format("woff2"),
    url("../fonts/roboto-condensed-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/roboto-condensed-bold.woff2") format("woff2"),
    url("../fonts/roboto-condensed-bold.woff") format("woff");
}
